.container{
    width: auto;
    height: auto;
    margin: 20px;
    margin-left: 100px;
    margin-right: 100px;
}

.header-back{
    width: 100%;
    height: auto;
    background-color: white;
    box-sizing: border-box;
}

.header-flex{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    background-color: white;
    box-sizing: border-box;
}

.head-logo{
    width: 10%;
    height: auto;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.head-logo h1{
    width: 80%;
    height: auto;
    font-family: sans-serif;
    font-size: 28px;
    color: #000;
    font-weight: 700;
    padding-top: 10px;
    padding-left: 20px;
}

.head-logo h2{
    font-size: 41px;
    color: #ce1212;
    padding-left: 3px;
}

.head-navi{
    width: 80%;
    height: auto;  
}

.head-navi ul{
    width: 100%;
    height: 100%;
    display: flex;
    margin-left: 85px;
    padding-top: 18px;   
}

.head-navi ul li a{
    text-decoration: none;
    font-family: sans-serif;
    font-size: 16px;
    color: #7f7f90;
    padding-inline: 18px;
    font-weight: 700;
}

.head-navi ul li a b{
    color: #000;
}

.hrline1{
    height: 2px;
    width: 50px;
    background-color: #ce1212;
    margin-left: 16px;
    margin-top: 6px;
}

.button-head{
    width: 10%;
    height: auto;
    margin-top: 7px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 21px;
    background-color: #ce1212;
    border: none;
    cursor: pointer;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 35px;
}

.button-head a{
    text-decoration: none;
    color: #fff;
    font-family: sans-serif;
    font-size: 15px;
}




.banner-back{
    width: 100%;
    height: auto;
    background-color: #eee;
    margin-top: 30px;
    box-sizing: border-box;
}

.banner-flex{
    width: 100%;
    height: 570px;
    display: flex;
    justify-content: space-between;
}

.banner-text{
    width: 50%;
    height: auto;
}

.banner-text h1{
    font-family: cursive;
    font-size: 45px;
    color: #343a40;
    font-variant-caps: unicase;
    margin-top: 100px;
    line-height: 60px;
}

.banner-text p{
    font-family: sans-serif;
    font-size: 18px;
    padding-top: 50px;
    color: #6c757d;
    line-height: 25px;
}

.banner-icon-flex{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.banner-bt1{
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 25px;
    background-color: #ce1212;
    border: none;
    text-align: center;
    cursor: pointer;
    transition: 0.5s;
}

.banner-bt1 a{
    text-decoration: none;
    font-family: sans-serif;
    font-size: 15px;
    color: white;
}

.banner-icon{
    display: flex;
    margin-right: 250px;
    cursor: pointer;
    transition: 0.5s;
}

.circle{
    width: 30px;
    height: 30px;
    display: flex;
    border-radius: 30px;
    border: solid 2px #ce1212;
    text-align: center;
    margin-top: 7px;
}

.circle i{
    padding-left: 11px;
    margin-top: 10px;
    color: #db1515;
    font-size: 12px;
}

.banner-icon h3{
    font-family: sans-serif;
    font-size: 18px;
    margin-top: 18px;
    margin-left: 5px;
}

.banner-icon:hover{
    color: #ce1212;
}

.banner-bt1:hover{
    box-shadow: 1px 5px 10px 0px #ce1212;
}

.banner-img{
   width: 50%;
   height: auto;
   text-align: center;
   padding-top: 50px;
}

.banner-hero{
    background-image: url(../image/hero-img.png);
    background-position: center;
    background-size: cover;
    height: 450px;
    width: 450px;
    margin-left: 100px; 
}




.about-us{
    width: auto;
    height: auto;
    background-color: white;
    margin-top: 100px;
}

.about-main{
    width: 100%;
    height: auto;  
}

.about-head{
    width: 100%;
    height: 10%;
    text-align: center;
}

.about-head p{
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 100px;
    color: rgb(26, 25, 25, 0.5);
}

.about-head-h{
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 10px;
}

.about-head h2{
    font-family: sans-serif;
    font-size: 30px;
    color: #000;
    margin-left: 37%;
    
}

.about-head h3{
    font-family: sans-serif;
    font-size:  30px;
    color: #ce1212; 
    padding-left: 3px; 
}

.about-imgflex{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.about-img1{
    width: 700px;
    height: 800px;
    background-image: url(../image/about.jpg);
    background-size: cover;
}

.about-img1-text{
    width: 80%;
    height: 100px;
    background-color: white;
    text-align: center;
    margin-left: 10%;
    margin-top: 90%;
    padding-top: 20px;
    line-height: 40px;
}

.about-img1-text h3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    color: #000;
    font-weight: 700;
}

.about-img1-text h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 27px;
    color: #ce1212;
    font-weight: 700;
}
.about-img2{
    width: 49%;
}

.about-img2-text{
    width: 100%;
    height: 59%;
    padding-left: 40px;
}

.about-img2-text p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    color: rgb(26, 25, 25, 0.7);
    line-height: 25px;
}

.about-img2-text  ul li{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    color: rgb(26, 25, 25, 0.7);
    line-height: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 30px;
}

.about-img2-text  ul li i{
    color: red;
}

.about-img2-img{
    background-image: url(../image/about-2.jpg);
    background-size: cover;
    background-position: center;
    height: 293px;
    width: 400px;
    margin-left: 60px;
    margin-top: 30px;
    position: relative;
}

.about-img2-img-circle{
    width: 80px;
    height: 80px;
    background-color: #ce1212;
    border-radius: 50px;
    text-align: center;
    margin-left: 160px;
    position: absolute;
    margin-top: 105px;
    transition: 0.5s;
    cursor: pointer;
}

.about-img2-img-circle i{
    font-size: 25px;
    color: white;
    margin-top: 28px;
    padding-left: 4px;
    transition: 0.5s;
}

.about-img2-img-circle:hover{
    background-color: white;
}

.about-img2-img-circle:hover i{
    color: #ce1212;
}




.achive{
    width: 100%;
    height: auto;
    background-color: #eee;
    margin-top: 50px;
}

.achive-flex{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 30px;
}

.achive-box1{
    width: 25%;
    height: auto;
    background-color: #ce1212;
    padding: 20px;
}

.achive-box1 h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 35px;
    color: white;
    font-weight: 800;
    line-height: 40px;
    padding-top: 20px;
}

.achive-box1 p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    color: white;
    padding-top: 20px;
    line-height: 20px;
}

.achive-bt{
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    border-radius: 21px;
    cursor: pointer;
    margin-left: 70px;
    transition: 0.5s;
}

.achive-bt a{
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    color: white;
    transition: 0.5s;
}

.achive-bt:hover{
    background-color: white;
}

.achive-bt:hover a{
    color: red;
}

.achive-set{
    width: 75%;
    height: auto;
    padding: 30px;
    display: flex;
    justify-content: space-between;
}

.achive-2{
    width: 30%;
    height: auto;
    background-color: white;
    text-align: center;
    position: relative;
    transition: 0.5s;
}

.icon-c1{
    width: 60px;
    height: 60px;
    background-color:  rgb(253, 215, 215);
    border-radius: 35px;
    text-align: center;
    margin-left: 90px;
    position: absolute;
    margin-top: 40px; 
}

.icon-c1 i{
    font-size: 10px;
    margin-top: 15px;
    color: rgba(230, 4, 4, 0.979);
}

.achive-2 h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 23px;
    color: rgb(24, 24, 24, 0.9);
    padding-top: 150px;
    font-weight: 100;
    line-height: 25px;
}

.achive-2 p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    color: #6c757d;
    padding-top: 23px;
    line-height: 25px;
    padding-bottom: 50px;
}

.achive-3{
    width: 30%;
    height: auto;
    background-color: white;
    text-align: center;
    transition: 0.5s;
}

.icon-c2{
    width: 60px;
    height: 60px;
    background-color:  rgb(253, 215, 215);
    border-radius: 35px;
    text-align: center;
    margin-left: 90px;
    position: absolute;
    margin-top: 40px; 
}

.icon-c2 i{
    font-size: 30px;
    margin-top: 15px;
    color: rgba(230, 4, 4, 0.979);
}

.achive-3 h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 23px;
    color: rgb(24, 24, 24, 0.9);
    padding-top: 170px;
    font-weight: 100;
    line-height: 25px;
}

.achive-3 p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    color: #6c757d;
    padding-top: 24px;
    line-height: 25px;
    padding-bottom: 50px;
}

.achive-4{
    width: 30%;
    height: auto;
    background-color: white;
    text-align: center;
    transition: 0.5s;
}

.icon-c3{
    width: 60px;
    height: 60px;
    background-color:  rgb(253, 215, 215);
    border-radius: 35px;
    text-align: center;
    margin-left: 90px;
    position: absolute;
    margin-top: 40px;  
}

.icon-c3 i{
    font-size: 30px;
    margin-top: 15px;
    color: rgba(230, 4, 4, 0.979);
}

.achive-4 h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 23px;
    color: rgb(24, 24, 24, 0.9);
    padding-top: 150px;
    font-weight: 100;
    line-height: 25px;
}

.achive-4 p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    color: #6c757d;
    padding-top: 23px;
    line-height: 25px;
    padding-bottom: 50px;
}

.achive-2:hover{
    transform: scale(1.1);
}

.achive-3:hover{
    transform: scale(1.1);
}

.achive-4:hover{
    transform: scale(1.1);
}


