.container{
    width: auto;
    height: auto;
    margin: 20px;
    margin-left: 100px;
    margin-right: 100px;
    /* border: solid 2px red; */
    /* box-sizing: border-box; */
}

.header-back{
    width: 100%;
    height: auto;
    background-color: white;
    box-sizing: border-box;
}

.header-flex{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    background-color: white;
    box-sizing: border-box;
}

.head-logo{
    width: 10%;
    height: auto;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.head-logo h1{
    width: 80%;
    height: auto;
    font-family: sans-serif;
    font-size: 28px;
    color: #000;
    font-weight: 700;
    padding-top: 10px;
    padding-left: 20px;
   
}

.head-logo h2{
    font-size: 41px;
    color: #ce1212;
    padding-left: 3px;
   
}

.head-navi{
    width: 80%;
    height: auto;
    
}

.head-navi ul{
    width: 100%;
    height: 100%;
    display: flex;
    margin-left: 85px;
    padding-top: 18px;   
}

.head-navi ul li a{
    text-decoration: none;
    font-family: sans-serif;
    font-size: 16px;
    color: #7f7f90;
    padding-inline: 18px;
    font-weight: 700;
   
}

.head-navi ul li a b{
    color: #000;
}

.hrline1{
    height: 2px;
    width: 50px;
    background-color: #ce1212;
    margin-left: 16px;
    margin-top: 6px;
}

.button-head{
    width: 10%;
    height: auto;
    /* margin-right: 20px; */
    margin-top: 7px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 21px;
    background-color: #ce1212;
    border: none;
    cursor: pointer;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 35px;
}

.button-head a{
    text-decoration: none;
    color: #fff;
    font-family: sans-serif;
    font-size: 15px;
}



.banner-back{
    width: 100%;
    height: auto;
    background-color: #eee;
    margin-top: 50px;
    box-sizing: border-box;
}

.banner-flex{
    width: 100%;
    height: 570px;
    display: flex;
    justify-content: space-between;
}

.banner-text{
    width: 50%;
    height: auto;
    /* padding-top: 100px; */
}

.banner-text h1{
    font-family: cursive;
    font-size: 45px;
    color: #343a40;
    font-variant-caps: unicase;
    margin-top: 130px;
}

.banner-text p{
    font-family: sans-serif;
    font-size: 18px;
    padding-top: 50px;
    color: #6c757d;
}

.banner-icon-flex{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.banner-bt1{
    padding-right: 35px;
    padding-left: 35px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 25px;
    background-color: #ce1212;
    border: none;
    text-align: center;
    cursor: pointer;
    transition: 0.5s;
}

.banner-bt1 a{
    text-decoration: none;
    font-family: sans-serif;
    font-size: 15px;
    color: white;
}

.banner-icon{
    display: flex;
    margin-right: 260px;
    cursor: pointer;
    transition: 0.5s;
}

.circle{
    width: 30px;
    height: 30px;
    display: flex;
    border-radius: 30px;
    border: solid 2px #ce1212;
    text-align: center;
    margin-top: 7px;
}

.circle i{
    padding-left: 11px;
    margin-top: 10px;
    color: #db1515;
    font-size: 12px;
}

.banner-icon h3{
    font-family: sans-serif;
    font-size: 18px;
    margin-top: 18px;
    margin-left: 5px;
}

.banner-icon:hover{
    color: #ce1212;
}

.banner-bt1:hover{
    box-shadow: 1px 5px 10px 0px #ce1212;
}

.banner-img{
   width: 50%;
   height: auto;
   text-align: center;
   padding-top: 70px;
}

.banner-hero{
    background-image: url(../image/hero-img.png);
    background-position: center;
    background-size: cover;
    height: 450px;
    width: 450px;
    margin-left: 100px;
    
}