.container{
    width: 100%;
    height: auto;
    margin: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

.navi{
    width: 100%;
    height: auto;
    background-color: white;
    box-sizing: border-box;
}

.navilist{
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

.navilist ul{
    width: 100%;
    height: auto;
    display: flex;
}
