.container{ 
    width: auto;
    height: auto;
    margin-left: 100px;
    margin-right: 100px;
    /* border: solid 2px rgb(44, 43, 43, .2); */

}


.quick-cont{
    background-color: white;
    border-bottom: solid 1px rgb(15, 13, 13, 0.3) ;
    border-top: solid 1px rgb(15, 13, 13, 0.3) ;
    height: 55px;
    width: 100%;
}

.quick-flex{
    display: flex;
    justify-content: space-between;
}

.contact h4 a{
    font-size: 17px;
    color: black;
    text-decoration: none;
    margin-right: 15px;
}

.contact h4  i{
    color: rgb(18, 18, 206, 0.6);
    cursor: pointer;
}

.soical ul {
    display: flex;
}

.soical ul li{
    display: flex;
    justify-content: space-between;  
    padding-inline: 20px;
    padding-top: 3px;     
}

.soical ul a{
    text-decoration: none;
}

 .soical ul li{
    list-style: none;
}

.soical ul i{
    color: rgb(13, 13, 190, 0.4);
    font-size: 17px;
}

.quick-flex i:hover{
    color: red;
    transition: 1s;
}





.header{
    background-color: white;

}

.header-flex{
    display: flex;
    justify-content: space-between;
}

.header-logo h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    color: navy;
    font-weight: 100;
    cursor: pointer;
}

.header-nav ul{
display: flex;
}

.header-nav ul li{
    list-style: none;
    margin: 20px;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(15, 2, 2, 0.5); 
    cursor: pointer;
}

.header-nav ul li:hover{
    color: skyblue;
}





.banner{
    background-image: url(../image/slide-1.jpg);
    background-size: cover;
    height: 450px;
    width: 100%;
    padding-top: 80px; 
}
/* 
.banner-bcakcolor{
    background-color: rgb(12, 12, 12, 0.2);
    height: 100%;
    margin-bottom: 20px;
} */

.header-text h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 45px;
    font-weight: 900;
    color: black;
}

.header-text p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    font-weight: 100;
    color: black;
}

.banner-b1{
    margin-top: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 25px;
    padding-right: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    border-radius: 10px;
    background-color: rgb(16, 149, 202);
    color: white;
    border: none;
    cursor: pointer;
}





.about{
    background-color: white;
    width: 100%;
    margin-top: 80px;
    /* border: solid 2px black; */
}

.about-flex{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    box-sizing: border-box;
}

.about-img{
    width: 50%;
    height: 500px;
    background-image: url(../image/about.jpg);
    background-size: cover;
    box-sizing: border-box;
    padding: 10px;   
}

.about-text i{
    font-size: 60;
    color: black;
    text-align: center;
}

.about-text{
    width: 40%;
    height: 530px;
    /* border: solid 2px red; */
    margin-right: 30px;   
}

.about-text-head{
    height: 45%;
    text-align: center;
    /* border: solid 2px yellow; */
    
}

.about-text-head h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 33px;
    color: rgb(8, 8, 8, 0.5);
    padding-top: 30px;
    cursor: pointer;
}

.about-text-head p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    font-weight: 500;
    color: rgb(8, 8, 8, 0.5);
    text-align: center;
}

.about-text-hov{
    height: 45%;
    /* border: solid 2px yellow; */
    display: flex;
    margin-bottom: 20px;
}

.about-ion{
    width: 30%;
    /* border: solid 2px black; */
    font-size: 35px;
    padding: 10px;
    padding-bottom: 20px;
    cursor: pointer;
}

.about-ion h1{
    margin-bottom: 20px;
}

.about-ion h2{
    margin-bottom: 20px;
}

.about-text-hov-para{
    width: 60%;
    /* border: solid 2px black; */
    padding-top: 43px;
}

.about-text-hov-para h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    color: rgb(15, 15, 15,);
    cursor: pointer;
}

.about-text-hov-para p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 14px;
    color: rgb(15, 15, 15, 0.5);
}

.about-text-hov-para h2:hover{
    color: skyblue;
    transition: .5s;
}

.about-ion h1:hover{
    color: black;
    transition: .5s;
}

.about-ion h2:hover{
    color: black;
    transition: .5s;
}

.about-text-head h2:hover{
    color: skyblue;
}





.achive{
    background-color: white;
    /* border: solid 2px red; */
    height: auto;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.achive-flex1{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 0.2px rgb(12, 12, 12, 0.1);
}

.box1{
    width: 33.33%;
    border-right: solid 1px rgb(23, 23, 23, 0.1);
    padding: 20px;
}

.box2{
    width: 33.33%;
    border-right: solid 1px rgb(23, 23, 23, 0.1);
    padding: 20px;
}

.box3{
    width: 33.33%;
    padding: 20px;
}

.achive-flex2{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    border-top: none;
    border-left: none;
    border-right: none;
    border-top: solid 0.2px rgb(12, 12, 12, 0.1);
}

.box4{
    width: 33.33%;
    border-right: solid 1px rgb(23, 23, 23, 0.1);
    padding: 20px;                            
}

.box5{
    width: 33.33%;
    border-right: solid 1px rgb(23, 23, 23, 0.1);
    padding: 20px;
}

.box6{
    width: 33.33%;
    border-bottom: none;
    padding: 20px;
}

.achive-flex1 h3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    color: skyblue;
}

.achive-flex2 h3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    color: skyblue;
}


.achive-flex1 h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 28px;
    color: rgb(19, 18, 18, 0.6);
}

.achive-flex2 h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 28px;
    color: rgb(19, 18, 18, 0.6);
}

.achive-flex1 p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    color: rgb(19, 18, 18, 0.5);
}

.achive-flex2 p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    color: rgb(19, 18, 18, 0.5);
}





.value{
    background-color: azure;
    padding-top: 25px;
    padding-bottom: 25px;
}

.value-flex{
    display: flex;
    justify-content: space-between;
    background-color: azure;
    padding: 10px;
}

.value-1{
    width: 25%;
    background-color: white;
    /* border: solid 2px red; */
    margin-right: 20px;

}

.value-1 h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    color: rgb(11, 11, 248, .9);
    text-align: center;
}

.value-1 p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    text-align: center;
    color: rgb(20, 20, 20, 0.7);
    /* padding-bottom: 20px; */

}


.value-2{
    width: 25%;
    background-color: white;
    margin-right: 20px;
}

.value-2 h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    color: rgb(11, 11, 248, .9);
    text-align: center;
}

.value-2 p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    text-align: center;
    color: rgb(20, 20, 20, 0.7);
}


.value-3{
    width: 25%;
    background-color: white;
    margin-right: 20px;
}

.value-3 h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    color: rgb(11, 11, 248, .9);
    text-align: center;
}

.value-3 p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    text-align: center;
    color: rgb(20, 20, 20, 0.7);
}

.value-4{
    width: 25%;
    background-color: white;
}

.value-4 h2{
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    color: rgb(11, 11, 248, .9);
    text-align: center;
}

.value-4 p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    text-align: center;
    color: rgb(20, 20, 20, 0.7);
}





.services{
    border: solid 2px red;
    /* height: 200px; */
}

.serv-head{
    height: 10%;
    border: solid 2px yellow;
    box-sizing: border-box;
}

.serv-list{
    height: 90%;
    border: solid 2px yellow;
    box-sizing: border-box;
}

.serv-list-flex1{
    height: 50%;
    border: solid 2px black;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.serv-list-flex2{
    height: 50%;
    border: solid 2px black;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.serv-1{
    width: 33.3%;
    height: 100px;
    border: solid 2px brown;
    box-sizing: border-box;
}


.serv-2{
    width: 33.3%;
    border: solid 2px brown;
    box-sizing: border-box;
}


.serv-3{
    width: 33.3%;
    border: solid 2px brown;
    box-sizing: border-box;
}


.serv-4{
    width: 33.3%;
    height: 100px;
    border: solid 2px brown;
    box-sizing: border-box;
}


.serv-5{
    width: 33.3%;
    border: solid 2px brown;
    box-sizing: border-box;
}


.serv-6{
    width: 33.3%;
    border: solid 2px brown;
    box-sizing: border-box;
}





















































